/* 전체 CSS파일을 import한 후 style.css만 head에 추가해주면 됨 */
@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

:root {
  --button-primary: rgb(255, 111, 0);
  --button-hover: rgba(255, 111, 0, 0.8);
}

/* 폰트 적용 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 경고화면 */
.media-info-msg {
  background-color: salmon;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 화면이 380이상 커지면 경고화면으로 덮음 */
@media screen and (max-width: 500px) {
  .media-info-msg {
    display: none;
  }
}
